Package: openalpr-gpsupdate
Version: 1.0.1-20191117104820
Section: web
Priority: optional
Architecture: all
Depends: debconf, python3.6, python3-requests, python3-pip
Maintainer: Matthew Hill <matthill@openalpr.com>
Description: OpenALPR GPS update
